.header{
	border-bottom: 1px solid #000;
	padding: 20px;
}
.header .title {
	font-size: 16pt;
}
.header .title_small {
}
.main{
	border: 1px solid #000;
}
.main #navigate {
	float: left;
	border-right: 2px solid #000;
}
.main #iframe {
	
}
.footer{
	border-top: 1px solid #000;
	padding: 10px;
}